In [1]:
import numpy as np
import pandas as pd

In [25]:
# Read CSV
pd.set_option('display.max_columns', None)
raw_data = pd.read_csv("../Resources/Nutrition__Physical_Activity__and_Obesity_-_Behavioral_Risk_Factor_Surveillance_System.csv")
raw_data.head()

,YearStart,YearEnd,LocationAbbr,LocationDesc,Datasource,Class,Topic,Question,Data_Value_Unit,Data_Value_Type,Data_Value,Data_Value_Alt,Data_Value_Footnote_Symbol,Data_Value_Footnote,Low_Confidence_Limit,High_Confidence_Limit,Sample_Size,Total,Age(years),Education,Gender,Income,Race/Ethnicity,GeoLocation,ClassID,TopicID,QuestionID,DataValueTypeID,LocationID,StratificationCategory1,Stratification1,StratificationCategoryId1,StratificationID1
0,2012,2012,WY,Wyoming,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,48.5,48.5,NaN,NaN,32.3,64.9,69,NaN,NaN,NaN,NaN,NaN,American Indian/Alaska Native,"(43.235541343, -108.109830353)",OWS,OWS1,Q037,VALUE,56,Race/Ethnicity,American Indian/Alaska Native,RACE,RACENAA
1,2012,2012,DC,District of Columbia,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,31.6,31.6,NaN,NaN,24.0,40.4,243,NaN,NaN,Less than high school,NaN,NaN,NaN,"(38.890371385, -77.031961127)",OWS,OWS1,Q036,VALUE,11,Education,Less than high school,EDU,EDUHS
2,2011,2011,AL,Alabama,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,35.2,35.2,NaN,NaN,30.7,40.0,598,NaN,25 - 34,NaN,NaN,NaN,NaN,"(32.840571122, -86.631860762)",OWS,OWS1,Q036,VALUE,1,Age (years),25 - 34,AGEYR,AGEYR2534
3,2013,2013,US,National,Behavioral Risk Factor Surveillance System,Physical Activity,Physical Activity - Behavior,Percent of adults who engage in no leisure-tim...,NaN,Value,27.9,27.9,NaN,NaN,27.6,28.3,"266,452",NaN,NaN,NaN,Female,NaN,NaN,NaN,PA,PA1,Q047,VALUE,59,Gender,Female,GEN,FEMALE
4,2011,2011,US,National,Behavioral Risk Factor Surveillance System,Physical Activity,Physical Activity - Behavior,Percent of adults who engage in no leisure-tim...,NaN,Value,16.9,16.9,NaN,NaN,16.0,17.8,"20,923",NaN,18 - 24,NaN,NaN,NaN,NaN,NaN,PA,PA1,Q047,VALUE,59,Age (years),18 - 24,AGEYR,AGEYR1824

In [28]:
trim_data = raw_data[["YearStart", "LocationAbbr", "LocationDesc", "Question", "Data_Value", "Age(years)", "Education",
                     "Race/Ethnicity", "Gender", "Income", "StratificationCategory1"]]
trim_data.head()

,YearStart,LocationAbbr,LocationDesc,Question,Data_Value,Age(years),Education,Race/Ethnicity,Gender,Income,StratificationCategory1
0,2012,WY,Wyoming,Percent of adults aged 18 years and older who ...,48.5,NaN,NaN,American Indian/Alaska Native,NaN,NaN,Race/Ethnicity
1,2012,DC,District of Columbia,Percent of adults aged 18 years and older who ...,31.6,NaN,Less than high school,NaN,NaN,NaN,Education
2,2011,AL,Alabama,Percent of adults aged 18 years and older who ...,35.2,25 - 34,NaN,NaN,NaN,NaN,Age (years)
3,2013,US,National,Percent of adults who engage in no leisure-tim...,27.9,NaN,NaN,NaN,Female,NaN,Gender
4,2011,US,National,Percent of adults who engage in no leisure-tim...,16.9,18 - 24,NaN,NaN,NaN,NaN,Age (years)

In [32]:
trim_data = trim_data.loc[(trim_data["Question"] == "Percent of adults aged 18 years and older who have obesity")]

In [37]:
age_data = trim_data[["YearStart", "LocationAbbr", "LocationDesc", "Data_Value", "Age(years)"]]
age_data.dropna()

       YearStart LocationAbbr LocationDesc  Data_Value   Age(years)
2           2011           AL      Alabama        35.2      25 - 34
30          2015           NY     New York        29.7      35 - 44
87          2013           WA   Washington        33.3      45 - 54
91          2011           TN    Tennessee        32.5      55 - 64
103         2014           NM   New Mexico        33.2      25 - 34
...          ...          ...          ...         ...          ...
62950       2014           TX        Texas        30.7  65 or older
62955       2013           TN    Tennessee        40.3      35 - 44
62996       2014           AR     Arkansas        29.2  65 or older
63008       2014           TN    Tennessee        39.3      45 - 54
63014       2012           AZ      Arizona        22.6  65 or older

[2568 rows x 5 columns]